<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Viewport is an easy-to-use, easy-to-deploy, self-hosted security camera solution.">
    <title>Viewport · Camera Viewer</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-4.5.0-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img src="/image/video-white.svg" alt="Viewport logo" width=35 height=35></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/view">Cameras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/sign-out">Sign out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid p-0">
        <div class="row">
          <img class="img-fluid w-100" onclick="" id="live-stream" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=">
        </div>
        <div class="row">
          <p class="live-stream col-12" id="server-time"></p>
         </div>
    </div>

    <script src="/js/viewer.js"></script>
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/bootstrap-4.5.0-dist/js/bootstrap.bundle.js"></script>
  </body>
</html>
